# Requirements to be installed within the standard virtualenv upon startup.
# Note that most of them are required for Heroku

dj-database-url==0.4.1
Django==1.9.6
django-rest==0.0.1
django-widget-tweaks==1.4.1
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==3.0
