# Change this value to switch to development or production mode:
# Production : DEBUG 0
# Development : DEBUG 1
SetEnv DEBUG 0

# mod_rewrite configuration
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>